@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&effect=3d-float');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */
/*
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400'); */
/* FONT EFFECT OPTIONS - neon, stonewash, 3d-float */

* {
  background-color: ghostwhite;
  font-family: 'PT Mono', monospace;
}


/*  VARIABLES  */
:root {
  --blue: #54bcdc;
  --babyblue: #a2cffe;
  --charcoal: #36454f;
  --rustyrose: #c28285;
}

/*  HEADERS  */
h1 {
  /* color: black; */
  font-family: "Permanent Marker", sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*  NAVIGATION  */
.container {
  /* background-color: var(--deep-purple);
  display: flex;
  height: 42px;
  margin-left: -10px;
  width: 100%; */
}
.ctr-links {

}
.left-links {
  align-self: baseline;
}
.right-links {
  align-self: baseline;
}
.spc-links {
  margin: auto;
}



/*  COLORS  */
/* .blue {
  color: var(--blue);
}*/
.babyblue {
  color: var(--babyblue);
}
.black {
  color: black;
}
.charcoal {
  color: var(--charcoal);
}
.dimgrey {
  color: dimgrey;
}
.gainsboro {
  color: gainsboro;
}
.ghostwhite {
  color: ghostwhite;
}
.lightgrey {
  color: lightgrey;
}
.lightslategrey {
  color: lightslategrey;
}
.mediumaquamarine {
  color: mediumaquamarine;
}
.rustyrose {
  color: var(--rustyrose);
}
.white {
  color: white;
}

/*  COLOR FILL  */
/* .fill-blue {
  background-color: var(--blue);
}
.fill-green {
  background-color: mediumaquamarine;
}*/

/*  FONT SIZE  */
.f15 {
  font-size: 1.5rem;
}
.f16 {
  font-size: 1.6rem;
}
.f2 {
  font-size: 2rem;
}

/*  INPUT FIELDS  */
.input-field {
  border: 1.5px solid var(--blue);
  font-size: 17px;
}
.height30 {
  height: 30px;
}
.width180 {
  width: 180px;
}

/*  TEXT DECORATION  */
.none {
  text-decoration: none;
  list-style-type: none;
}
