@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&effect=3d-float');
@import url('https://fonts.googleapis.com/css?family=Courgette');
/* @import url('https://fonts.googleapis.com/css?family=Rajdhani'); */
/* @import url('https://fonts.googleapis.com/css?family=Kodchasan'); */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


/* @import url('https://fonts.googleapis.com/css?family=PT+Mono'); */
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */
/*
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400'); */
/* FONT EFFECT OPTIONS - neon, stonewash, 3d-float */

* {
  background-color: ghostwhite;
  font-family: 'Titillium Web', sans-serif;
}

/*  VARIABLES  */
:root {
  --blue: #54bcdc;
  --babyblue: #a2cffe;
  --charcoal: #36454f;
  --purple: #9e7cc9;
  --rust: #985e4a;
  --rustyrose: #c28285;
}

/* ANIMATIONS */
.pointer {
  cursor: pointer;
}

/* BUTTONS */
/* .btn-nav {
  margin-top: 25px;
  height: 25px;
} */
.btn-login {
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 5% 33%;
  padding: 5px;
  width: 80px;
}
.cancel-modal {
  border: none;
  height: 60px;
  margin-top: -4%;
  margin-right: 1.5%;
  outline: none;
  width: 45px;
}



/*  HEADERS  */
h1 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  /* margin-top: 20px; */
  padding: 0;
  text-align: center;
}

/* IMAGES */
.headerimg{
  /* width: 1200px;
  height: 350px; */
   /* margin-top: -1px; */
  /* padding-bottom: -30px; */ */
  /* border-bottom: 2px solid var(--charcoal); */
  /* object-fit: */
  /* display: flex; */
  /* justify-content: */
  /* margin: 0 auto; */
  z-index: 0;
  background-repeat: repeat-y;
}

.headerborderbtm {
  border-bottom: 2px solid var(--charcoal);
  margin-bottom: -2px;
}

/* LANDING PAGE IMAGES */
.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  /* display: inline-block; */
}
.bottom {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 25px;
  padding: 10px;
}
/* MIDDLE TEXT */
.middletext {
  font-family: 'PT Mono', monospace;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 12px;
}

/*  COLORS  */
.babyblue {
  color: var(--babyblue);
}
.black {
  color: black;
}
.charcoal {
  color: var(--charcoal);
}
.dimgrey {
  color: dimgrey;
}
.gainsboro {
  color: gainsboro;
}
.ghostwhite {
  color: ghostwhite;
}
.lightgrey {
  color: lightgrey;
}
.lightslategrey {
  color: lightslategrey;
}
.mediumaquamarine {
  color: mediumaquamarine;
}
.rustyrose {
  color: var(--rustyrose);
}
.white {
  color: white;
}

/*  COLOR FILL  */
.blue {
  background-color: var(--blue);
}
.purple {
  background-color: var(--purple);
}
.rose {
  background-color: var(--rustyrose);
}
.rust {
  background-color: var(--rust);
}

/* COLOR OUTLINE */
.blue-border {
  border: 1.5px solid var(--blue);
}
.rust-border {
  border: 1.5px solid var(--rust);
}

/* DROP DOWNS */
.dropdown-container {
  /* this property aligns items within the box in the center */
  align-items: center;
  /* background-color: lavender; */
  /* border: 2px solid var(--charcoal); */
  display: flex;
  /* i added this property below to accommodate images living to the right of the dropdowns - anyone, feel free to change this property if needed */
  flex-direction: row;
  height: 450px;
  justify-content: center;
  max-width: 800px;
}
.main-dropdown-container {
  display: flex;
  justify-content: center;
}
.btncreate {
  background-color: #EBC7BD;
  color: var(--charcoal);
  border-radius: 10px;
  font-size: 15px;
  /* font-weight: bold; */
  padding: 10px 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 50%;

}
.btncreate:hover {
  background-color: var(--rustyrose);
  color: var(--charcoal);
}

/*  FONT SIZE  */
.f1 {
  font-size: 1rem;
}
.f14 {
  font-size: 1.4rem;
}
.f15 {
  font-size: 1.5rem;
}
.f16 {
  font-size: 1.6rem;
}
.f2 {
  font-size: 2rem;
}

/* ICONS */
.cancel {
  align-self: flex-end;
  padding-top: 25px;
  padding-right: 25px;
}

/*  INPUT FIELDS  */
.input-field-blue, .input-field-rose, .input-field-rust {
  border: 1.5px solid var(--blue);
  font-size: 17px;
  margin: 3% 13%;
}
.input-field-rose {
  border: 1.5px solid var(--rustyrose);
}
.input-field-rust {
  border: 1.5px solid var(--rust);
}
.height30 {
  height: 30px;
}
.width180 {
  width: 180px;
}

/* LOGIN */

/* a:hover > modal-login {
  background-color: white;
  border: 2px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
} */
.height36 {
  height: 36px;
}
.padding5 {
  padding: 5px;
}
.width36 {
  width: 36px;
}

/* MODALS */
.height30 {
  height: 30px;
}
.width30 {
  width: 30px;
}
.modal-container {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  /* jerrica */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  width: 100%;
}
/* create the modal foundation as a class */
.modal {
  background-color: rgba(248,248,254);
  border: 2px inset slategrey;
  /* test flexbox properties */
  /* this property centers items within the modal */
  align-items: center;
  /* align-content: flex-end; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* set modal height to cover 80% of viewport */
  height: 70%;
  /* this sets the margin % (of the page) from the top of the page */
  margin-top: 7%;
  /* this property prevents modal from spanning the entire page vertically */
  overflow: hidden;
  position: absolute;
  /* set modal width to cover 60% of viewport */
  width: 60%;
  z-index: 9;
}

/* create sidebar foundation as a class  */
.sidebar {
  background-color: rgb(242,242,245);
  /* ensure straight edges when sidebar image meets registration form */
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 2px solid slategrey;
  /* round the container edges */
  border-radius: 10px;
  max-height: 50vw;
  object-fit: fill;
  object-position: center;
  /* stops scrolling */
  /* overflow: hidden; */
  /* show only one iteration of the image */
  repeat: no-repeat;
  /* ensure image covers the set span */
  /* size: cover; */
  /* make width 40% of its parent container */
  max-width: 50vw;
  /* test flexbox properties */
  display: flex;
  flex-direction: column;
}
/* selects all imgs with class sidebar */
/* img.sidebar {
  max-width: 45vw;
} */

/* create registration form foundation as a class */
.registration {
  align-items: flex-end;
  /* round the container edges */
  border-radius: 20px;
  /* initial test */
  color: black;
  /* make height 100% of its parent container  */
  /* this removed the cancel button */
  /* height: 20vw; */
  /* margin-top: -70px; */
  /* padding-left: 10px; */
  /* ensure form covers set span */
  /* size: cover; */
  /* make width remaining 60% of parent container */
  width: 50vw;
  /* test flexbox properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* create the login sidebar as a class */
.sidebar-login {
  /* background: url('assets/login-clothing.jpg'); */
  flex: 2 2 auto;
}

/* create the login registration form as a class */
.sidebar-registration {
  /* background: url('/assets/signup-clothing.jpg'); */
  flex: 3 3 auto;
}

/* create a close modal scenario */
.close-modal {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 3px;
}

/*  NAVIGATION  */
a:hover {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;
}
a.dropblue:hover {
  background-color: white;
  color: blue;
}
a.purple:hover {
  color: var(--purple);
}
a.rose:hover {
  color: var(--rustyrose);
}
a.rust:hover {
  color: var(--rust);
}
/* .height45 {
  height: 45px;
} */
.li, a {
  /* align-content: space-evenly; */
  /* align-items: center; */
  font-weight: bold;
}
.main-nav {
  /* background-color: var(--rustyrose); */
  border-bottom: 2px solid var(--charcoal);
  border-top: 2px solid var(--charcoal);
  display: flex;
  justify-content: space-around;
  padding-top: 1px;
  padding-bottom: 1px;
}
.navbar {
  height: 100px;
}



/*  TEXT DECORATION  */
.none {
  text-decoration: none;
  list-style-type: none;
}
