@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&effect=3d-float');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/*
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400'); */
/* FONT EFFECT OPTIONS - neon, stonewash, 3d-float */

* {
  /* background-color: ghostwhite; */
  font-family: 'PT Sans', sans-serif;
}


/*  VARIABLES  */
:root {
  --neon-pink: #e514aa;
  --deep-pink: #e4346e;
  --deep-purple: #641ba0;
  --blue: #54bcdc;
}

/*  HEADERS  */
h1 {
  color: var(--neon-pink);
  font-family: "Permanent Marker", sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*  NAVIGATION  */
.container {
  background-color: var(--deep-purple);
  display: flex;
  height: 42px;
  margin-left: -10px;
  width: 100%;
}
.ctr-links {

}
.left-links {
  align-self: baseline;
}
.right-links {
  align-self: baseline;
}
.spc-links {
  margin: auto;
}



/*  COLORS  */
.blue {
  color: var(--blue);
}
.purple {
  color: var(--deep-purple);
}
.white {
  color: white;
}
.ghostwhite {
  color: ghostwhite;
}

/*  COLOR FILL  */
.fill-blue {
  background-color: var(--blue);
}
.fill-green {
  background-color: mediumaquamarine;
}
.fill-purple {
  background-color: var(--deep-purple);
}

/*  FONT SIZE  */
.f15 {
  font-size: 1.5rem;
}
.f16 {
  font-size: 1.6rem;
}
.f2 {
  font-size: 2rem;
}

/*  INPUT FIELDS  */
.input-field {
  border: 1.5px solid var(--blue);
  font-size: 17px;
}
.height30 {
  height: 30px;
}
.width180 {
  width: 180px;
}

/*  TEXT DECORATION  */
.none {
  text-decoration: none;
  list-style-type: none;
}
