<!-- ATTEMPT 3 - SUBNAV WITH <UL>/<LI> -->
<!-- navigation menu -->
<!-- <div class="dropdown-nav">
  <a href="#">Style Your Look</a>
    <div class="dropdown-subnav">
      <button class="btn-subnav">Category</button>
      <div class="subnav-content">
        <a href="#">Outerwear</a>
        <a href="#">Lower Wear</a>
        <a href="#">Upper Wear</a>
        <a href="#">Shoes</a>
      </div>
    </div>
</div> -->

<!-- ATTEMPT 2 - CONVERT DROPDOWN TO <UL>/<LI> -->
<!-- <nav>
  <ul class="nav">
    <li><a href="#">Category</a></li>
      <ul>
        <li><a href="#">Outer Wear</a></li>
          <ul>
            <li><a href="#">Type</a></li>
              <ul>
                <li><a href="#">Coat</a></li>
                <li><a href="#">Jacket</a></li>
                <li><a href="#">Sweater</a></li>
              </ul>
          </ul>
        <li><a href="#">Lower Wear</a></li>
        <li><a href="#">Upper Wear</a></li>
        <li><a href="#">Shoes</a></li>
      </ul> -->

      <!-- DOES IT MATTER WHAT I NAME THE SELECT OR CLASS? -->
<div class="dropdown">
  Category: {{2+2}}
  <select name="category" ng-model="ctrl.category">
    <!-- <option value="category">Category</option> -->
    <option value="outerwear">Outer Wear</option>
    <option value="lowerwear">Lower Wear</option>
    <option value="upperwear">Upper Wear</option>
    <option value="shoes">Shoes</option>
  </select>

  <select ng-model="ctrl.type" ng-if="ctrl.category === 'outerwear'">
    <option value="coat">Coat</option>
    <option value="jacket" ng-model="ctrl.type">Jacket</option>
    <option value="sweater" ng-model="ctrl.type">Sweater</option>
  </select>
</div>
<!-- ATTEMPT 1 -->
<!-- these dropdowns will live inside the forms -->
<!-- <div class="dropdown" placeholder=Category>
  <select name="category">
    <option value="category">Category</option>
    <option value="outerwear">Outer Wear</option> -->
      <!-- <select name="type">
        <select name="outwear-type"> -->
          <!-- <option value="type">Type</option>
          <option value="coat">Coat</option>
          <option value="jacket">Jacket</option>
          <option value="sweater">Sweater</option> -->
        <!-- </select> -->
    <!-- <option value="lowerhalf">Lower Wear</option>
    <option value="upperhalf">Upper Wear</option>
    <option value="shoes">Shoes</option>
  </select>
</div> -->


<!-- <div class="dropdown">
  <select name="outwear-type">
    <option value="type">Type</option>
    <option value="coat">Coat</option>
    <option value="jacket">Jacket</option>
    <option value="sweater">Sweater</option>
  </select>
</div> -->



<!-- SEASONS TAG DROPDOWN -->
<div class="dropdown">
  <select class="tag-seasons" name="seasons">
    <option value="season">Season</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="fall">Fall</option>
    <option value="winter">Winter</option>
  </select>
</div>

Occasion Dropdown 
<div class="dropdown">
  <select class="tag-occasions" name="occasions">
    <option value="occasion">Occasion</option>
    <option value="business-casual">Business Casual</option>
    <option value="club">Club</option>
    <option value="date">Date</option>
    <option value="dinner">Dinner</option>
    <option value="interview">Interview</option>
    <option value="special-event">Special Event</option>
    <option value="streetwear">StreetWear</option>
  </select>
</div>

<!-- UPPERHALF DROPDOWN -->
<!-- <div class="dropdown">
  <select name="upperhalf-type">
    <option value="type">Type</option>
    <option value="casual">Casual</option>
    <option value="dress">Dress</option>
    <option value="dress-shirt">Dress Shirt</option>
    <option value="longsleeve">Long Sleeve</option>
    <option value="sleeveless">Sleeveless</option>
    <option value="tee">Tee</option>
    <option value="turtleneck">Turtleneck</option>
  </select>
</div> -->
<!-- Seasons Dropdown Attempt 2 - standard -->
<!-- <div class="dropdown">
  <select class="tag-seasons" name="seasons">
    <option value="season">Season</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="fall">Fall</option>
    <option value="winter">Winter</option>
  </select>
</div> -->

<!-- LOWERHALF DROPDOWN -->
<!-- <div class="dropdown">
  <select name="lowerhalf-type">
    <option value="type">Type</option>
    <option value="casual">Casual</option>
    <option value="dress">Dress</option>
    <option value="dress-shirt">Dress Shirt</option>
    <option value="longsleeve">Long Sleeve</option>
    <option value="sleeveless">Sleeveless</option>
    <option value="tee">Tee</option>
    <option value="turtleneck">Turtleneck</option>
  </select>
</div> -->
<!-- Seasons Dropdown Attempt 2 - standard -->
<!-- <div class="dropdown">
  <select class="tag-seasons" name="seasons">
    <option value="season">Season</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="fall">Fall</option>
    <option value="winter">Winter</option>
  </select>
</div> -->

<!-- SHOES DROPDOWN -->
<!-- <div class="dropdown">
  <select name="shoes-type">
    <option value="boots">Boots</option>
    <option value="dress">Dress Shoes</option>
    <option value="flats">Flats</option>
    <option value="heels">Heels</option>
    <option value="sneakers">Sneakers</option>
    <option value="sports">Sports</option>
  </select>
</div> -->
<!-- Seasons Dropdown Attempt 2 - standard -->
<!-- <div class="dropdown">
  <select class="tag-seasons" name="seasons">
    <option value="season">Season</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="fall">Fall</option>
    <option value="winter">Winter</option>
  </select>
</div> -->
