<div class="dropdown-container">
  <h1>Create a New Look</h1>
  <form ng-submit="ctrl.newOutfit()">
  <div class="dropdown">
    <br />
    Category:
    <select name="category" ng-model="ctrl.category">
      <!-- <option value="category">Category</option> -->
      <option value="outerwear">Outer Wear</option>
      <option value="lowerwear">Lower Wear</option>
      <option value="upperwear">Upper Wear</option>
      <option value="shoes">Shoes</option>
    </select>
    <hr>
    <br />

    Type:
    <select ng-model="ctrl.type" ng-if="ctrl.category === 'outerwear'">
      <option value="coat">Coat</option>
      <option value="jacket">Jacket</option>
      <option value="sweater">Sweater</option>
    </select>

    <select ng-model="ctrl.type" ng-if="ctrl.category === 'lowerwear'">
      <option value="casual">Casual</option>
      <option value="dress">Dress Pants</option>
      <option value="shorts">Shorts</option>
      <option value="skirt">Skirt</option>
      <option value="jeans">Jeans</option>
    </select>

    <select ng-model="ctrl.type" ng-if="ctrl.category === 'upperwear'">
      <option value="casual">Casual</option>
      <option value="dress">Dress</option>
      <option value="dress-shirt">Dress Shirt</option>
      <option value="longsleeve">Long Sleeve</option>
      <option value="sleeveless">Sleeveless</option>
      <option value="tee">Tee</option>
      <option value="turtleneck">Turtleneck</option>
    </select>

    <select ng-model="ctrl.type" ng-if="ctrl.category === 'shoes'">
      <option value="athletic">Athletic</option>
      <option value="boots">Boots</option>
      <option value="dress">Dress Shoes</option>
      <option value="flats">Flats</option>
      <option value="heels">Heels</option>
      <option value="sneakers">Sneakers</option>
    </select>

  </div>

  <!-- seasons dropdown -->
  Season:
  <div class="dropdown">
    <select ng-model="ctrl.season" ng-if="ctrl.type">
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
      <option value="fall">Fall</option>
      <option value="winter">Winter</option>
    </select>
  </div>

  <!-- occasion Dropdown  -->
  Occasion:
  <div class="dropdown">
    <select ng-model="ctrl.occasion" ng-if="ctrl.type">
      <option value="occasion">Occasion</option>
      <option value="business-casual">Business Casual</option>
      <option value="club">Club</option>
      <option value="date">Date</option>
      <option value="dinner">Dinner</option>
      <option value="interview">Interview</option>
      <option value="special-event">Special Event</option>
      <option value="streetwear">StreetWear</option>
    </select>
  </div><br />
  Image:
  <input type="text" ng-model="ctrl.image" placeholder="image link">
  <input type="submit" value="Create a New Look" ng-click="ctrl.changeInclude('show')">
</div>
</form>

<!-- <div class="create">
  <h3>Create a New Look</h3>
  <div class="outer" ng-click="ctrl.changeInclude('outer-create')">Outerwear</div>
  <div class="upper" ng-click="ctrl.changeInclude('upper-create')">Upperwear</div>
  <div class="lower" ng-click="ctrl.changeInclude('lower-create')">Lowerwear</div>
  <div class="shoes" ng-click="ctrl.changeInclude('shoes-create')">Shoes</div>
</div> -->
