<form ng-submit="ctrl.logIn()">
  <h2>Log In</h2>
    <input class="input-field width180 height30" type="text" placeholder="username" ng-model="ctrl.username" /><br />
    <input class="input-field width180 height30" type="password" placeholder="password" ng-model="ctrl.password" /><br >
    <input class="fill-blue" type="submit" value="Log In">
</form><br>
<h2>Go to "the app"</h2>
<a href="#" ng-click="ctrl.goApp()">Click here</a>
<br>
<br>
<div ng-if="ctrl.loggedInUsername">
  Welcome, {{ctrl.loggedInUsername}}
</div>
