<div class="navbar">
  <ul class="main-nav none">
    <li class="none f14" style="display: inline;"><a class="none f14 black purple" href="#">
        <h5 ng-click="ctrl.changeInclude('main')">HOME</h5>
      </a></li>
    <li class="none f14" style="display: inline;"><a class="none f14 black blue" href="#">
        <h5 ng-click="ctrl.changeInclude('show')">VIEW LOOKS</h5>
      </a></li>
    <li class="none f14" style="display: inline;"><a class="none f14 black rust" href="#">
        <h5 ng-click="ctrl.logOut()"> LOG OUT</h5>
      </a></li>
  </ul>
</div>
