<div class="lower">
    <img src="{{ctrl.image}}" alt="">
  <form ng-submit="ctrl.newOutfit()">
    <h4 ng-model="ctrl.category">Lower Half</h4>
    <input type="text" ng-model="ctrl.image" placeholder="Image" /><br>
    <div class="dropdown">
      <select name="lowerhalf-type">
        <option value="type">Type</option>
        <option ng-model="ctrl.type" value="casual">Casual</option>
        <option ng-model="ctrl.type" value="dress">Dress</option>
        <option ng-model="ctrl.type" value="jeans">Jeans</option>
        <option ng-model="ctrl.type" value="shorts">Shorts</option>
        <option ng-model="ctrl.type" value="skirt">Skirt</option>
      </select>
    </div>
    <input ng-click="ctrl.changeInclude('show')" type="submit" value="Create New look" /><br>
  </form><br>
</div>
