
<div class="headerimg headerborderbtm">
  <img src="assets/clothing-landing-page.jpg" style="width: 100%; height:355px; object-fit: cover;" alt="clothing rack" />
</div>
<center>
  <p class="middletext">Styled Your Way</p>
</center>
<div class="flex-container">
  <div><img src="assets/bottom-image-left.jpg" class="bottom" alt="womens clothing layout one" /></div>

  <div><img src="/assets/bottom-image-middle.jpg" class="bottom" alt="mens clothing layout" /></div>

  <div><img src="assets/bottom-image-right.jpg" class="bottom" alt="womens clothing layout two" /></div>
</div>
