<!-- <div class="modal-container"> -->
  <div class="modal">
    <img src="/assets/login-clothing.jpg" class="sidebar">
      <div class="registration">
        <h1>Login</h1>
        <img src="assets/cancel.png">
        <form ng-submit="ctrl.logIn()">
            <input class="input-field width180 height30" type="text" placeholder="username" ng-model="ctrl.username" />
            <input class="input-field width180 height30" type="password" placeholder="password" ng-model="ctrl.password" />
            <input class="fill-blue" type="submit" value="Log In">
        </form><br>
        <!-- <div ng-if="ctrl.loggedInUsername">
          Welcome, {{ctrl.loggedInUsername}}
        </div> -->
    </div>
  </div>
<!-- </div> -->
