
   <!-- <nav>
    <ul class="container none">
      <li class="f16 spc-links"><a class="white none" href="#" ng-click="ctrl.changeInclude('home')">home</a></li>
      <li class="f16 spc-links"><a class="white none" href="#" ng-click="ctrl.changeInclude('about')">about</a></li>
      <li class="f16 spc-links"><a class="white none" href="#" ng-click="ctrl.changeInclude('login-signup')">sign up</a></li>
      <li class="f16 spc-links" ng-click="ctrl.changeInclude('Login-signup')"><a class="white none" href="#" >login</a></li>
    </ul>
  </nav> -->
  <div class="nav">
    <h5 ng-click="ctrl.changeInclude('home')">Home</h5>
    <h5 ng-click="ctrl.changeInclude('about')">About</h5>
    <h5 ng-click="ctrl.changeInclude('Login-signup')">Sign Up</h5>
    <h5 ng-click="ctrl.changeInclude('Login-signup')">Log In</h5>
  </div>
