<div class="navbar">
  <ul class="main-nav none">
    <li class="none f14" style="display: inline;"><a class="none f14 black purple" href="#"><h5 ng-click="ctrl.changeInclude('home')">HOME</h5></a></li>
    <!-- <li class="none" style="display: inline;"><h5 ng-click="ctrl.changeInclude('create')">Create your look</h5></li> -->
    <li class="none f14" style="display: inline;"><a class="none f14 black blue" href="#"><h5 ng-click="ctrl.changeInclude('signup')">SIGN UP</h5></a></li>
    <!-- <li class="none f14" style="display: inline;"><a class="none f14 black" href="#"><h5 ng-click="ctrl.changeInclude('login')">LOG IN</h5></a></li> -->
    <li class="none f14" style="display: inline;"><a class="none f14 black rust" href="#" ng-click="ctrl.showModal()">
      <!-- <button class="btn-nav none f14 black"> -->
        <h5 ng-click="ctrl.changeInclude('login')">LOG IN</h5>
      <!-- </button> -->
    </a></li>
  </ul>
</div>
