<div class="outer">
  <form ng-submit="ctrl.newOutfit()">
    <h4 ng-model="ctrl.category">OuterWear</h4>
    <img src="{{ctrl.image}}" alt="">
    <input class="rust-border img-box" type="text" ng-model="ctrl.image" placeholder="Image" /><br>
    <div class="dropdown">
      <select class="rust-border" name="outwear-type">
        <option class="testing" value="type">Type</option>
        <option value="coat" ng-model="ctrl.type">Coat</option>
        <option value="jacket" ng-model="ctrl.type">Jacket</option>
        <option value="sweater" ng-model="ctrl.type">Sweater</option>
      </select>
    </div>

  <!-- Seasons Dropdown Attempt 2 - standard -->
  <div class="dropdown">
    <select class="tag-seasons rust-border" name="seasons">
      <option value="season">Season</option>
      <option ng-model="ctrl.tag" value="spring">Spring</option>
      <option ng-model="ctrl.tag" value="summer">Summer</option>
      <option value="fall">Fall</option>
      <option ng-model="ctrl.tag" value="winter">Winter</option>
    </select>
  </div>

  <!-- Occasion Dropdown  -->
  <div class="dropdown">
    <select class="tag-occasions rust-border" name="occasions">
      <option value="occasion">Occasion</option>
      <option ng-model="ctrl.tag" value="business-casual">Business Casual</option>
      <option ng-model="ctrl.tag" value="club">Club</option>
      <option value="date" ng-model="ctrl.tag">Date</option>
      <option value="dinner" ng-model="ctrl.tag">Dinner</option>
      <option value="interview" ng-model="ctrl.tag">Interview</option>
      <option value="special-event" ng-model="ctrl.tag">Special Event</option>
      <option value="streetwear" ng-model="ctrl.tag">StreetWear</option>
    </select>
  </div>
  <input class="dropdown-submit" ng-click="ctrl.changeInclude('show')" type="submit" value="Create New look" /><br>
</form><br>

</div>
