<div class="shoes">
    <img src="{{ctrl.image}}" alt="">
  <form ng-submit="ctrl.newOutfit()">
    <h4 ng-model="ctrl.category">Shoes</h4>
    <input type="text" ng-model="ctrl.image" placeholder="Image" /><br>
    <div class="dropdown">
      <select name="shoes-type">
        <option ng-model="ctrl.type" value="boots">Boots</option>
        <option value="dress" ng-model="ctrl.type">Dress Shoes</option>
        <option ng-model="ctrl.type" value="flats">Flats</option>
        <option ng-model="ctrl.type" value="heels">Heels</option>
        <option ng-model="ctrl.type" value="sandals">Sandals</option>
        <option ng-model="ctrl.type" value="sneakers">Sneakers</option>
        <option ng-model="ctrl.type" value="sports">Sports</option>
      </select>
    </div>
    <input ng-click="ctrl.changeInclude('show')" type="submit" value="Create New look" /><br>
  </form><br>
</div>
