<!-- THERE SHOULD BE A DIV TO HOLD THE PUSHED ITEM -->
<!-- TEST CODE FOR SLIDEDOWN DROPDOWN MENU -->
<!-- <dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>

<div class="dropdown-container" ng-class="{ show: listVisible }">
  <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
    <span ng-if="!isPlaceholder">{{display}}</span>
    <span class="placeholder" ng-if="isPlaceholder">{{placeholder}}lt; /span>
      <i class="fa fa-angle-down"></i>
  </div>
  <div class="dropdown-list">
    <div>
      <div ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
        <span>{{property !== undefined ? item[property]: item}}</span>
        <i class="fa fa-check"></i>
      </div>
    </div>
  </div>
</div> -->

<div class="show-container">
  <div class="create">
    <img ng-click="ctrl.changeInclude('create')" class="cancel pointer" style="height: 33px; width: 33px;" ng-src="assets/hanger.png" alt="Create">
  <h1>Create a new look</h1>
    <img ng-click="ctrl.changeInclude('create')" class="cancel pointer" style="height: 33px; width: 33px;" ng-src="assets/hanger.png" alt="Create">
  </div>
  <div class="search-box" class="input-field-blue" >
    <h3>SEARCH BY CATEGORY, SEASON, OCCASION OR TYPE </h3>
    <input type="text" ng-model="ctrl.searchQuery" placeholder="START TYPING THE CATEGORY, SEASON, OCCASION OR TYPE" />
    <div>
      <input type="radio" name="order" value="category" ng-model='order' id="category" />
      <label for="category">Category</label>
      <input type="radio" name="order" value="type" ng-model='order' id="type" />
      <label for="type">Type</label>
      <input type="radio" name="order" value="season" ng-model='order' id="season" />
      <label for="season">Season</label>
      <input type="radio" name="order" value="occasion" ng-model='order' id="occasion" />
      <label for="occasion">Occasion</label>

    </div>
  </div>

  <ul>
    <li class="none" ng-repeat="outfit in ctrl.outfits | orderBy: order | filter: ctrl.searchQuery"" ><img src=" {{outfit.image}}" alt=" {{outfit.type}}" style=" height: 150px; width: 150px; border: 1px solid var(--charcoal);">
      <h4>Category: {{outfit.category}}</h4>
      <h4>Type: {{outfit.type}}</h4>
      <h4>Season: {{outfit.season}}</h4>
      <h4>Occasion: {{outfit.occasion}}</h4>



      <!-- THERE SHOULD BE A NEW DIV/BOX HERE  -->

      <div class="outfit-edit" ng-click="ctrl.indexOfEditFormToShow = $index">
        <img class="width30 height30 cancel pointer" ng-src="assets/edit-thin.png" alt="Edit">
        <!-- <span class="lnr lnr-magic-wand"></span> -->
        <div class="edit">
          <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editOutfit(outfit)">
            <h4>Edit Outfit</h4>
            <!-- <img src="{{ctrl.image}}" alt=""> -->
            <!-- <input type="text" ng-model="ctrl.image" placeholder="Image" /><br> -->

            <div class="dropdown-container">
              <h3>Edit Your Look</h3>
              <div class="dropdown">
                <br />
                Category:
                <select name="category" ng-model="ctrl.editedCategory">
                  <!-- <option value="category">Category</option> -->
                  <option value="outerwear">Outer Wear</option>
                  <option value="lowerwear">Lower Wear</option>
                  <option value="upperwear">Upper Wear</option>
                  <option value="shoes">Shoes</option>
                </select>
                <hr>
                <br />

                Type:
                <select ng-model="ctrl.editedType" ng-if="ctrl.editedCategory === 'outerwear'">
                  <option value="coat">Coat</option>
                  <option value="jacket">Jacket</option>
                  <option value="sweater">Sweater</option>
                </select>

                <select ng-model="ctrl.editedType" ng-if="ctrl.editedCategory === 'lowerwear'">
                  <option value="casual">Casual</option>
                  <option value="dress">Dress Pants</option>
                  <option value="shorts">Shorts</option>
                  <option value="skirt">Skirt</option>
                  <option value="jeans">Jeans</option>
                </select>

                <select ng-model="ctrl.editedType" ng-if="ctrl.editedCategory === 'upperwear'">
                  <option value="casual">Casual</option>
                  <option value="dress">Dress</option>
                  <option value="dress-shirt">Dress Shirt</option>
                  <option value="longsleeve">Long Sleeve</option>
                  <option value="sleeveless">Sleeveless</option>
                  <option value="tee">Tee</option>
                  <option value="turtleneck">Turtleneck</option>
                </select>

                <select ng-model="ctrl.editedType" ng-if="ctrl.editedCategory === 'shoes'">
                  <option value="athletic">Athletic</option>
                  <option value="boots">Boots</option>
                  <option value="dress">Dress Shoes</option>
                  <option value="flats">Flats</option>
                  <option value="heels">Heels</option>
                  <option value="sneakers">Sneakers</option>
                </select>

              </div>

              <!-- seasons dropdown -->
              Season:
              <div class="dropdown">
                <select ng-model="ctrl.editedSeason" ng-if="ctrl.editedType">
                  <option value="spring">Spring</option>
                  <option value="summer">Summer</option>
                  <option value="fall">Fall</option>
                  <option value="winter">Winter</option>
                </select>
              </div>

              <!-- occasion Dropdown  -->
              Occasion:
              <div class="dropdown">
                <select ng-model="ctrl.editedOccasion" ng-if="ctrl.editedType">
                  <option value="occasion">Occasion</option>
                  <option value="business-casual">Business Casual</option>
                  <option value="club">Club</option>
                  <option value="date">Date</option>
                  <option value="dinner">Dinner</option>
                  <option value="interview">Interview</option>
                  <option value="special-event">Special Event</option>
                  <option value="streetwear">StreetWear</option>
                </select>
              </div><br />

              <!-- image input field -->
              Image:
              <input type="text" ng-model="ctrl.image" placeholder="image link">
              <input type="submit" value="Edit Look">
            </div>
          </form>
          <img class="width30 height30 cancel pointer" ng-src="assets/delete.png" alt="Delete" ng-click="ctrl.deleteOutfit(outfit)">

        </div>

        <!-- <div class="edit">
          <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editOutfit(outfit)">
            <h4>Edit Outfit</h4>
            <img src="{{ctrl.image}}" alt="">
            <input type="text" ng-model="ctrl.image" placeholder="Image" /><br>
            <input type="submit" value="Submit"><br>
              <br>
            </form>
      </div> -->
        <!-- <div class="outfit-delete" ng-click="ctrl.deleteOutfit(outfit)">
          <span class="lnr lnr-trash"></span>
        </div> -->
        <!-- </li>
  </ul> -->

      </div>
