<modal id="signup-modal">
  <div class="modal-container" ng-click="displayHide()">
    <!-- this is the actual modal containing sidebar image and registration form -->
    <div class="modal">
      <!-- sidebar image (left) -->
      <img src="/assets/signup-clothing.jpg" class="sidebar">
      <!-- registration form (right) -->
        <div class="registration" style="margin-top:-18px;">
          <!-- attempting to close the modal -->
          <div class="close-modal">
            <!-- X button that should close the modal upon click -->
            <button class="cancel-modal" ng-click="ctrl.changeInclude('main')">
              <!-- actual icon within the button -->
              <img class="width30 height30 cancel pointer" ng-src="assets/cancel.png">
            </button>
          </div>
              <form style="text-align:center;" ng-submit="ctrl.createUser()">
                <h2 style="text-align:center;">CREATE CLOSET</h2>
                  <!-- outline input field in blue -->
                  <input class="input-field-blue width180 height30" type="text" placeholder="username" ng-model="ctrl.username" />
                  <!-- outline in input field in blue -->
                  <input class="input-field-blue width180 height30" type="password" placeholder="password" ng-model="ctrl.password" />
                  <!-- outline input field in blue and create anchor tag to direct sign up button to create page -->
                <input  class="blue btn-login white" type="submit" value="SIGN UP">
                  <!-- style member field with rust border -->

              </form><br>
              <button class="rust-border f1 pointer" ng-click="ctrl.changeInclude('login')">Already a member?<br> Log In</button>
              <!-- <div ng-if="ctrl.loggedInUsername">
                Welcome, {{ctrl.loggedInUsername}}
              </div> -->
        </div>
    </div>
  </div>
</modal>

<!-- <div class="Authorization">
<h2 class="purple">Create User</h2>
<form ng-submit="ctrl.createUser()">
  <input class="input-field width180 height30" type="text" placeholder="username" ng-model="ctrl.username" />
  <input class="input-field width180 height30" type="password" placeholder="password" ng-model="ctrl.password" />
  <input class="fill-green" type="submit" value="Create User">
  <button ng-click="ctrl.changeInclude('login')">Already a member?<br> Log In</button>
</form><br> -->
