<div class="upper">
    <img src="{{ctrl.image}}" alt="">
  <form ng-submit="ctrl.newOutfit()">
    <h4>Upper Half</h4>
    <input type="text" ng-model="ctrl.image" placeholder="Image" /><br>
    <div class="dropdown">
      <select name="upperhalf-type">
        <option value="type">Type</option>
        <option value="casual">Casual</option>
        <option value="dress">Dress</option>
        <option value="button-down-shirt">Button Down Shirt</option>
        <option value="longsleeve">Long Sleeve</option>
        <option value="sleeveless">Sleeveless</option>
        <option value="tee">Tee</option>
        <option value="turtleneck">Turtleneck</option>
      </select>
    </div>
    <input type="submit" value="Create New look" /><br>
  </form><br>

</div>
