<div class="upper">
    <img src="{{ctrl.image}}" alt="">
  <form ng-submit="ctrl.newOutfit()">
    <h4 ng-model="ctrl.category">Upper Half</h4>
    <input type="text" ng-model="ctrl.image" placeholder="Image" /><br>
    <div class="dropdown">
      <select name="upperhalf-type">
        <option value="type">Type</option>
        <option value="casual" ng-model="ctrl.type">Casual</option>
        <option ng-model="ctrl.type" value="dress">Dress</option>
        <option ng-model="ctrl.type" value="button-down-shirt" ng-model="ctrl.type">Button Down Shirt</option>
        <option value="longsleeve" ng-model="ctrl.type">Long Sleeve</option>
        <option value="sleeveless" ng-model="ctrl.type">Sleeveless</option>
        <option value="tee" ng-model="ctrl.type">Tee</option>
        <option value="turtleneck" ng-model="ctrl.type">Turtleneck</option>
      </select>
    </div>
    <input ng-click="ctrl.changeInclude('show')" type="submit" value="Create New look" /><br>
  </form><br>
  <!-- Seasons Dropdown Attempt 2 - standard -->
  <div class="dropdown">
    <select class="tag-seasons" name="seasons">
      <option value="season">Season</option>
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
      <option value="fall">Fall</option>
      <option value="winter">Winter</option>
    </select>
  </div>

  <!-- Occasion Dropdown  -->
  <div class="dropdown">
    <select class="tag-occasions" name="occasions">
      <option value="occasion">Occasion</option>
      <option value="business-casual">Business Casual</option>
      <option value="club">Club</option>
      <option value="date">Date</option>
      <option value="dinner">Dinner</option>
      <option value="interview">Interview</option>
      <option value="special-event">Special Event</option>
      <option value="streetwear">StreetWear</option>
    </select>
  </div>
  <input type="submit" value="Create New look" /><br>
</form><br>

</div>
